<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://kit.fontawesome.com/730b7b0401.js" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>高橋石材</title>

  <link href="style.css" rel="stylesheet">
</head>

<body>

  <header class="" id="home">
    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="nav-color">
        <div class="container">
          <div class="nav-wrapper">
            <a href="" class="brand-logo left"><img src="images/TS_logo.JPG" alt="TS"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                class="large material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="#cleaning">クリーニング</a>
              </li>
              <li>
                <a href="#renovation">墓石のリフォーム</a>
              </li>
              <li>
                <a href="#eternal_memorial">墓地・永代供養紹介</a>
              </li>
              <li>
                <a href="#building_material">建築用石材</a>
              </li>
              <li>
                <a href="#design_and_construction">新規墓石設計・施工</a>
              </li>
              <li>
                <a href="#grave">お墓終い</a>
              </li>
              <li>
                <a href="mailto:takahashi-stone@way.ocn.ne.jp">お問い合わせ</a>
              </li>
              <li>
                <a href="#calendar">予約カレンダー</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    </div>
    <ul class="sidenav" id="mobile-demo">
      <li>
        <a href="">ホーム</a>
      </li>
      <li>
        <a href="#cleaning">クリーニング</a>
      </li>
      <li>
        <a href="#renovation">墓石のリフォーム</a>
      </li>
      <li>
        <a href="#eternal_memorial">墓地・永代供養紹介</a>
      </li>
      <li>
        <a href="#building_material">建築用石材</a>
      </li>
      <li>
        <a href="#design_and_construction">新規墓石設計・施工</a>
      </li>
      <li>
        <a href="#grave">お墓終い</a>
      </li>
      <li>
        <a href="mailto:takahashi-stone@way.ocn.ne.jp">お問い合わせ</a>
      </li>
      <li>
                <a href="#calendar">予約カレンダー</a>
              </li>
    </ul>
  </header>
  <main>
    <div class="contents">
      <section class="top">
        <div class="top_img">
          <img src="images/top.jpg">
        </div>
      </section>
      <!-- クリーニング -->
      <section class="cleaning" id="cleaning">
        <div class="container description">
          <h1 class="center fadein-bottom">クリーニング</h1>
          <p class="fadein-bottom">普段からキレイに掃除していても、長期間経過すると墓石や外柵の石材には、通常のお掃除ではどうしてもとれない汚れが付着しています。
            そんな汚れをプロが徹底クリーニングいたします。石の種類によって適切な清掃方法があります。石材のことを知りつくした弊社が決して墓石をキズつけることなく、キレイにいたします。
          </p>
        </div>
        <div class="slider center">
          <ul class="slides">
            <li>
              <img src="images/cleaning/cleaning_1.jpg">
            </li>
            <li>
              <img src="images/cleaning/cleaning_2.jpg">
            </li>
            <li>
              <img src="images/cleaning/cleaning_3.jpg">
            </li>
          </ul>
        </div>
      </section>
      <!-- リフォーム -->
      <section class="renovation" id="renovation">
        <div class="container">

          <h1 class="center scroll-animation fadein-bottom">リフォーム</h1>
          <p class="fadein-bottom">
            普段お住まいの家と同じように、長い年月、雨風にさらされているお墓にも定期的なメンテナンスが必要です。異常に早く気付ければ、それだけ軽微な補修で済みますし、コストも抑えられます。特に昭和５０年頃までに建てられた墓所は、施工方法の関係で風化などの見た目だけでなく、ご先祖様が眠る大切な納骨棺への浸水や、墓石倒壊の危険もございます。
            建立時期や立地、区画の広さ、石の種類などお墓はどれ一つとっても同じものはありません。その為、弊社では現地での直接診断の上、お客様のご希望に沿ったご提案をしております。
            １０㎡を超える大きなお墓の改修工事も、立地によってはコストを大きく抑える事が可能です。
            早めの点検が何よりの大切です。無料診断も行っておりますので、まずはお気軽にご相談下さい。
          </p>
        </div>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="images/renovation/renovation_1.jpg">
            </li>
            <li>
              <img src="images/renovation/renovation_2.jpg">
            </li>
            <li>
              <img src="images/renovation/renovation_3.jpg">
            </li>
          </ul>
        </div>

      </section>
      <!-- 永代供養 -->
      <section class="eternal_memorial" id="eternal_memorial">
        <h1 class="center fadein-bottom">永代供養</h1>
        <p class="fadein-bottom container">
          「永代供養」とは、ご遺骨を寺院が責任を持って永代にわたってご供養と管理をおこなっていく供養形態です。
          他の人と一緒のお墓や納骨室に安置されることから費用を抑えることができ、また合同供養のような形で寺院が供養を行ってくれます。
        </p>
        <img class="materialboxed" src="images/eternal_memorial/eternal_memorial.JPG">


      </section>
      <!-- 建築材 -->
      <section class="building_material" id="building_material">
        <h1 class="center fadein-bottom">建築材</h1>
        <img class="materialboxed" src="images/building_material/building_material.jpg" width="100%">

      </section>
      <!-- 設計・施工 -->
      <section class="design_and_construction" id="design_and_construction">
        <h1 class="center fadein-bottom">設計・施工</h1>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="images/design_and_construction/design_and_construction_1.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_2.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_3.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_4.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_5.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_6.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_7.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_8.JPG">
            </li>
            <li>
              <img src="images/design_and_construction/design_and_construction_9.JPG">
            </li>
          </ul>
        </div>

      </section>
      <!-- 墓終い -->
      <section class="grave" id="grave">
        <h1 class="center fadein-bottom">墓終い</h1>
        <p class="fadein-bottom container">墓終いとは、現在のお墓を撤去し、遺骨を他の墓地に移転又は永久扶養墓地に改葬することです。
          「後継ぎがいない」「お墓が遠くて、お参りが大変」このような理由から、今無縁墓が増えています。
          思い切って墓終いすることで、ご家族の負担を減らします。
        </p>
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="images/grave/grave_1.JPG">
            </li>
            <li>
              <img src="images/grave/grave_2.JPG">
            </li>
            <li>
              <img src="images/grave/grave_3.JPG">
            </li>
            <li>
              <img src="images/grave/grave_4.JPG">
            </li>
            <li>
              <img src="images/grave/grave_5.JPG">
            </li>
            <li>
              <img src="images/grave/grave_6.JPG">
            </li>
            <li>
              <img src="images/grave/grave_7.JPG">
            </li>
            <li>
              <img src="images/grave/grave_8.JPG">
            </li>
            <li>
              <img src="images/grave/grave_9.JPG">
            </li>
            <li>
              <img src="images/grave/grave_10.JPG">
            </li>
            <li>
              <img src="images/grave/grave_11.JPG">
            </li>
            <li>
              <img src="images/grave/grave_12.JPG">
            </li>
            <li>
              <img src="images/grave/grave_13.JPG">
            </li>
            <li>
              <img src="images/grave/grave_14.JPG">
            </li>
          </ul>
        </div>
      </section>
      <!-- <section id="calendar">
        <div class="container">
            <p>{{ start_day }} - {{ end_day }}</p>
            <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%" border="1">
                <tr class="head">
                    <td><a href="{% url 'booking:calendar' before.year before.month before.day %}">前週</a></td>
                    {% for day in days %}
                        {% if day in public_holidays %}
                            <th style="background-color: yellow">{{ day | date:"d(D)" }}</th>
                        {% elif day.weekday == 5 %}
                            <th style="color: blue;">{{ day | date:"d(D)" }}</th>
                        {% elif day.weekday == 6 %}
                            <th style="color: red;">{{ day | date:"d(D)" }}</th>
                        {% else %}
                            <th>{{ day | date:"d(D)" }}</th>
                        {% endif %}
                    {% endfor %}
                    <td><a href="{% url 'booking:calendar' next.year next.month next.day %}">次週</a></td>
                </tr>

                {% for hour, schedules in calendar.items %}
                    <tr style="font-size:12px" class="content">
                        <td>
                            {{ hour }}:00
                        </td>
                        {% for dt, book in schedules.items %}
                            <td>
                                {% if dt <= today %}
                                    -
                                {% elif book %}
                                    <a href="{% url 'booking:booking' dt.year dt.month dt.day hour %}">○</a>
                                {% else %}
                                    ×
                                {% endif %}
                            </td>

                        {% endfor %}
                        <td>
                            {{ hour }}:00
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
      </section> -->
      <!-- <section id="payment-stripe">
        <div class="center">
            <h2>お支払い</h2>
            <form action="" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ publick_key }}"
                        data-amount=""
                        data-name="髙橋石材"
                        data-image="images/TS_logo.JPG"
                        data-locale="ja"
                        data-currency="jpy">
                </script>
                {% csrf_token %}
            </form>
        </div>
      </section> -->
    </div>
  </main>

  <!--footer-->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">高橋石材興業（株）</h5>
          <p class="grey-text text-lighten-4">撤去・お墓終い承ります。石に関することならお任せください。</p>
          <p class="adress">
            住所<br>
            〒794-0066<br>
            愛媛県今治市高橋甲1252-3
          </p>
          <p class="phone">
            TEL(0898)24-1777<br>
            FAX(0898)31-5927
          </p>
        </div>
        <div class="col l4 offset-12 s12">
          <h5 class="white-text">MENU</h5>
          <ul class="footer-menu1">
            <li><a class="grey-text text-lighten-3" href="#home">ホーム</a></li>
            <li><a class="grey-text text-lighten-3" href="#design_and_construction">新規墓石設計・施工</a></li>
            <li><a class="grey-text text-lighten-3" href="#grave">お墓終い</a></li>
            <li><a class="grey-text text-lighten-3" href="#building_material">建築用石材</a></li>
          </ul>
        </div>
        <div class="col l2 offset-12 s12">
          <h5>&nbsp;</h5>
          <ul class="footer-menu2">
            <li><a class="grey-text text-lighten-3" href="#eternal_memorial">墓地・永久扶養紹介</a></li>
            <li><a class="grey-text text-lighten-3" href="#renovation">墓石のリフォーム</a></li>
            <li><a class="grey-text text-lighten-3" href="#cleaning">クリーニング</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:example@gmail.com">お問い合わせ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Copyright Text
        <p class="grey-text text-lighten-4 right" href="">2020年7月12日　HP開設</p>
      </div>
    </div>
  </footer>



<!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
